@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Smooch&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*Imagen de fondo de la pagina*/
body{
    background-image: url('https://img.freepik.com/foto-gratis/bolsa-papel-alimentos_76263-1478.jpg?size=626&ext=jpg');
    background-position: center center;
   background-size: cover ;
   background-repeat: no-repeat;
   font-family: roboto,sans-serif;
}

/* color parrafo*/
p{
    color: black;
}
 
/*estilo header*/
header{
    position: relative;
    margin-top: -25px;
}



/*estilo logo*/
.logo{
    position: relative;
    justify-content: left;
}
   
/*estilos del menu*/
ul {
    margin-top: 25px;
    display: flex;  
    flex-direction: row; 
   align-content: center;
   justify-content: space-around;
   flex-wrap: wrap;
  }
  
  li {
    text-align: center;
   padding: 5px 5px 5px 5px;
    width: 5em;
    display: inline;
    margin:5px 5px 5px 5px ;
  }


  a{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-decoration: none;
}

.menu ul :hover{
  text-decoration: none;
  border-radius: 70%;
  background-color: rgb(76, 206, 50);
}

/*estilos del texto*/
.texto{
    text-align: center;
}

.text{
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
}



article{
    display: flex;  
    flex-direction: row; 
   justify-content: center;
   flex-flow:wrap;
}

/*estilos de los parrafos del index*/
#launo{
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.imagen-uno{
    width: 100%;
    height: 100%;
}

/*estilos footer*/
footer{
    text-align: center;
    background-color: #cbdbe9;
}


/*imagen de promocion, que luego se le agregaran 2 mas para hacer un carrousel*/
.imagen-promo{
    align-content: center;
    width: 98%;
    height: 400px;
}

/*estilos con respectos a los parrafos de textos*/
article{
    display: flex;  
    flex-direction: row; 
   justify-content: center;
   flex-flow:wrap;
}

.articulo{
    display: flex;  
    flex-direction: row; 
   justify-content: center;
   flex-flow:wrap;
}

#imagenes-galeria{
    width: 345px;
    height: 345px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 2px;
}

#imagenes-galeria2{
    width: 345px;
    height: 345px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding: 2px;
}

.texto{
    margin: 10px;
    text-align: center;
    justify-content: center;
    
}

/*Ancho y alto de img de mision*/
.imagenes-mision{
    width: 320px;
    height: 320px;
}


.parrafitos{
    margin: 10px;
}

#imagenes-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texto-4{
    margin-top: 35px;
    text-align: center;
}

#imagenes-descuentos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.subimagenes-descuentos{
    height: 350px;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 80px;
}


.mapa{
    margin: 10px;
}

.formulario{
    margin: 10px;
    position: relative;
    margin-top: -400px;
    margin-left: 950px;
    margin-bottom: 80px;
    text-align: center;
    display: flex;  
}

/*estilos del footer*/
footer{
    text-align: center;
    background-color: rgb(76, 206, 50);
}


.logo-mision{
 display: flex;
 flex-direction: row;
 justify-content: left;
}

#menu-mision{
display: flex;
 flex-direction: row;
 justify-content: right;
 align-content: space-between;
}

/*grid del index*/
#grilla {
    display: grid;
    grid-template-areas:
      "header header nav  nav"
      "section section section section"
      "section2 section2 section2 section2"
      "footer footer footer footer";
    grid-template-rows: 12% 48% 38% 2%; 
    grid-template-columns:25% 25% 25% 25%;
   height: 140vh;
   grid-row-gap: 5px;
   margin: 0;	 
 }
 
 header {
    grid-area: header;
}

nav {
    grid-area: nav;
 }

 section#launo {
    grid-area: section; 
    }

    section#lados {
        grid-area: section2; 
        }


 footer {
    grid-area: footer;
 }



/*Grid de la page Mision*/
#imagenes-mision-grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12% 38% 48% 2%;
    grid-template-areas:
    "header header nav nav"
    "texto texto texto texto"
    "imagen1 imagen2 imagen3 imagen4"
    "footer footer footer footer"
}     


header{
    grid-area: header;
}

.texto-4{
    grid-area: texto;
}

.imagen-mision1{
grid-area: imagen1;
}

.imagen-mision2{
    grid-area: imagen2;
}

.imagen-mision3{
    grid-area: imagen3;
}

.imagen-mision4{
    grid-area: imagen4; 
}

footer{
    grid-area: footer;
}





    /*media queries*/

@media only screen and (min-width: 380px) {
        p {
          font-size: 10px;
        }

        li{
            font-size: 10px;
        }

        .imagen-uno{
            height: 350px;
        }

        #lados{
            position: relative;
            margin-top: -60px;

        }

        .texto-4{
            position: relative;
            margin-top: 70px;
        }

        .imagenes-mision{
            height: 130px;
            width: 130px;
            position: relative;
            margin-top: 30px;
        }
      }

      

@media only screen and (min-width: 649px) {
        p {
          font-size: 10px;
        }

        li{
            font-size: 10px;
        }

        .texto-4{
            position: relative;
            margin-top: 70px;
            margin-bottom: 50px;
        }

        .imagenes-mision{
            height: 160px;
            width: 160px;
            position: relative;
            margin-top: -10px;
        }

        
      }

      
    
      @media screen and (min-width: 950px) {
        p {
          font-size: 14px;
        }

        .imagenes-mision{
            height: 250px;
            width: 250px;
            position: relative;
            margin-top: -80px;
        }
        
      }