/*estilos grales del body*/
body{
    background-image: url(../images/ama-pastel.jpg);
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    font-family: roboto,sans-serif;
}

